.App {
  text-align: center;
  align-items: center;
  
}
.logout {
  text-align: center;
  align-items: center;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    font-weight: bold;
    font-size: 10px;
    
  
}
body {
  background: rgb(255, 255, 255);
}
.grid{
  orientation: horizontal;
}
div.container {
  max-width: 900px;
  margin: 0 auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}